@tailwind base;
@tailwind components;
@tailwind utilities;

/* .scrollwatcher{
    height: 10px;
    position: fixed;
    top:0;
    z-index: 1000;
    background-color: lime;
    width: 100%;
    scale: 0 1;
    transform-origin: left;
    animation:scrollwatcher linear;
    animation-timeline: scroll();
}

@keyframes scrollwatcher{
    to {scale: 1 1;}
} */


.myWork{
    scale:.8; opacity: 0;
 animation: fade-in linear forwards;
 animation-timeline: view();
 animation-range: 250px 500px;
}
@keyframes fade-in{
    
    to{scale:1; opacity: 1}
}


.box{
    width: 100%;
    position: relative;
    overflow-y: auto;
}

.contain{
    width: 100%;
    position: relative;
    height: 1700px;
    overflow-y: auto;
   
}
@media (min-width: 768px){
.card {
    position: sticky;
    top: 0 ;
    z-index: 1;
}
}
